/node_modules/**
/dist/**
/target/**
/scripts/**
/_templates/**
/.vscode/**
/coverage/**
/docs/**
/documentation/**
/tests/**
/.yarn/**
*.img
*.png
*.svg
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.txt
*.html
*.css
*.xml
*.yml
*.flowconfig
*.md
*.test.js
*.config.js
*.log
*.lock
*.json
*.gitignore
*.eslintrc.js