.attivio-icon-FileScanner { background-image: url('png/FileScanner.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-down-blue { background-image: url('png/arrow-down-blue.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-buttons button,
.attivio-icon-arrow-down-white { background-image: url('png/arrow-down-white.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-down-yellow { background-image: url('png/arrow-down-yellow.png'); background-repeat: no-repeat; }

.custom-select:after,
.attivio-icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-left-gray { background-image: url('png/arrow-left-gray.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-right-gray { background-image: url('png/arrow-right-gray.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-right-white { background-image: url('png/arrow-right-white.png'); background-repeat: no-repeat; }

.attivio-icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.attivio-icon-build-mart-white { background-image: url('png/build-mart-white.png'); background-repeat: no-repeat; }

.attivio-icon-build-mart { background-image: url('png/build-mart.png'); background-repeat: no-repeat; }

.attivio-icon-cleanse { background-image: url('png/cleanse.png'); background-repeat: no-repeat; }

.attivio-icon-clipboard { background-image: url('png/clipboard.png'); background-repeat: no-repeat; }

.attivio-icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.attivio-icon-copy-mart-white { background-image: url('png/copy-mart-white.png'); background-repeat: no-repeat; }

.attivio-icon-copy-mart { background-image: url('png/copy-mart.png'); background-repeat: no-repeat; }

.attivio-icon-create-source { background-image: url('png/create-source.png'); background-repeat: no-repeat; }

.attivio-icon-export { background-image: url('png/export.png'); background-repeat: no-repeat; }

.attivio-icon-gear-white { background-image: url('png/gear-white.png'); background-repeat: no-repeat; }

.attivio-icon-gear { background-image: url('png/gear.png'); background-repeat: no-repeat; }

.attivio-icon-help { background-image: url('png/help.png'); background-repeat: no-repeat; }

.attivio-icon-identify-white { background-image: url('png/identify-white.png'); background-repeat: no-repeat; }

.attivio-icon-identify { background-image: url('png/identify.png'); background-repeat: no-repeat; }

.attivio-icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.attivio-icon-linked-sources { background-image: url('png/linked-sources.png'); background-repeat: no-repeat; }

.attivio-icon-lock { background-image: url('png/lock.png'); background-repeat: no-repeat; }

.attivio-icon-mart-call { background-image: url('png/mart-call.png'); background-repeat: no-repeat; }

.attivio-icon-mart-cube { background-image: url('png/mart-cube.png'); background-repeat: no-repeat; }

.attivio-icon-mart-database-gear { background-image: url('png/mart-database-gear.png'); background-repeat: no-repeat; }

.attivio-icon-mart-database { background-image: url('png/mart-database.png'); background-repeat: no-repeat; }

.attivio-icon-mart-gears { background-image: url('png/mart-gears.png'); background-repeat: no-repeat; }

.attivio-icon-mart-generic { background-image: url('png/mart-generic.png'); background-repeat: no-repeat; }

.attivio-icon-mart-org { background-image: url('png/mart-org.png'); background-repeat: no-repeat; }

.attivio-icon-mart-plaintext { background-image: url('png/mart-plaintext.png'); background-repeat: no-repeat; }

.attivio-icon-mart-search { background-image: url('png/mart-search.png'); background-repeat: no-repeat; }

.attivio-icon-mart-sources { background-image: url('png/mart-sources.png'); background-repeat: no-repeat; }

.attivio-icon-mart-upload { background-image: url('png/mart-upload.png'); background-repeat: no-repeat; }

.attivio-icon-mart-world { background-image: url('png/mart-world.png'); background-repeat: no-repeat; }

.attivio-icon-mart { background-image: url('png/mart.png'); background-repeat: no-repeat; }

.attivio-icon-microphone { background-image: url('png/microphone.png'); background-repeat: no-repeat; }

.attivio-icon-pdf { background-image: url('png/pdf.png'); background-repeat: no-repeat; }

.attivio-icon-pencil-white { background-image: url('png/pencil-white.png'); background-repeat: no-repeat; }

.attivio-icon-pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-0,
.wizard .add-link .popover-button-to .attivio-icon-rating-0,
.attivio-icon-rating-0-white { background-image: url('png/rating-0-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-0 { background-image: url('png/rating-0.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-1,
.wizard .add-link .popover-button-to .attivio-icon-rating-1,
.attivio-icon-rating-1-white { background-image: url('png/rating-1-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-1 { background-image: url('png/rating-1.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-2,
.wizard .add-link .popover-button-to .attivio-icon-rating-2,
.attivio-icon-rating-2-white { background-image: url('png/rating-2-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-2 { background-image: url('png/rating-2.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-3,
.wizard .add-link .popover-button-to .attivio-icon-rating-3,
.attivio-icon-rating-3-white { background-image: url('png/rating-3-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-3 { background-image: url('png/rating-3.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-4,
.wizard .add-link .popover-button-to .attivio-icon-rating-4,
.attivio-icon-rating-4-white { background-image: url('png/rating-4-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-4 { background-image: url('png/rating-4.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-rating-5,
.wizard .add-link .popover-button-to .attivio-icon-rating-5,
.attivio-icon-rating-5-white { background-image: url('png/rating-5-white.png'); background-repeat: no-repeat; }

.attivio-icon-rating-5 { background-image: url('png/rating-5.png'); background-repeat: no-repeat; }

.attivio-icon-remove-white { background-image: url('png/remove-white.png'); background-repeat: no-repeat; }

.attivio-icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.attivio-icon-search-blue { background-image: url('png/search-blue.png'); background-repeat: no-repeat; }

.attivio-icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.attivio-icon-sort-ascending { background-image: url('png/sort-ascending.png'); background-repeat: no-repeat; }

.attivio-icon-sort-descending { background-image: url('png/sort-descending.png'); background-repeat: no-repeat; }

.attivio-icon-source-ActiveDirectoryScannerViaProperties-white { background-image: url('png/source-ActiveDirectoryScannerViaProperties-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-ActiveDirectoryScannerViaProperties { background-image: url('png/source-ActiveDirectoryScannerViaProperties.png'); background-repeat: no-repeat; }

.attivio-icon-source-AlfrescoScanner-white { background-image: url('png/source-AlfrescoScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-AlfrescoScanner { background-image: url('png/source-AlfrescoScanner.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-source-AsapCsvScanner,
.wizard .add-link .popover-button-to .attivio-icon-source-AsapCsvScanner,
.attivio-icon-source-AsapCsvScanner-white { background-image: url('png/source-AsapCsvScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapCsvScanner { background-image: url('png/source-AsapCsvScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapHadoopScanner-white { background-image: url('png/source-AsapHadoopScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapHadoopScanner { background-image: url('png/source-AsapHadoopScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapMoreoverNewsScanner-white { background-image: url('png/source-AsapMoreoverNewsScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapMoreoverNewsScanner { background-image: url('png/source-AsapMoreoverNewsScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapZipScanner-white { background-image: url('png/source-AsapZipScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-AsapZipScanner { background-image: url('png/source-AsapZipScanner.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-source-ConfluenceScanner,
.wizard .add-link .popover-button-to .attivio-icon-source-ConfluenceScanner,
.attivio-icon-source-ConfluenceScanner-white { background-image: url('png/source-ConfluenceScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-ConfluenceScanner { background-image: url('png/source-ConfluenceScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-DBSchemaScanner-white { background-image: url('png/source-DBSchemaScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-DBSchemaScanner { background-image: url('png/source-DBSchemaScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-DataSiftStreamScanner-white { background-image: url('png/source-DataSiftStreamScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-DataSiftStreamScanner { background-image: url('png/source-DataSiftStreamScanner.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-source-DatabaseScanner,
.wizard .add-link .popover-button-to .attivio-icon-source-DatabaseScanner,
.attivio-icon-source-DatabaseScanner-white { background-image: url('png/source-DatabaseScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-DatabaseScanner { background-image: url('png/source-DatabaseScanner.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-source-EmcDocumentScanner,
.wizard .add-link .popover-button-to .attivio-icon-source-EmcDocumentScanner,
.attivio-icon-source-EmcDocumentumScanner-white { background-image: url('png/source-EmcDocumentumScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-EmcDocumentumScanner { background-image: url('png/source-EmcDocumentumScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-FileScanner-white { background-image: url('png/source-FileScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-HadoopMapReduceJobScanner-white { background-image: url('png/source-HadoopMapReduceJobScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-HadoopMapReduceJobScanner { background-image: url('png/source-HadoopMapReduceJobScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-JiveCloudScanner-white { background-image: url('png/source-JiveCloudScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-JiveCloudScanner { background-image: url('png/source-JiveCloudScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-JiveScanner-white { background-image: url('png/source-JiveScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-JiveScanner { background-image: url('png/source-JiveScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-MSharepointScanner-white { background-image: url('png/source-MSharepointScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-MSharepointScanner { background-image: url('png/source-MSharepointScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-MsExchangeScanner-white { background-image: url('png/source-MsExchangeScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-MsExchangeScanner { background-image: url('png/source-MsExchangeScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-Other-white { background-image: url('png/source-Other-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-Other { background-image: url('png/source-Other.png'); background-repeat: no-repeat; }

.wizard .add-link .popover-button-from .attivio-icon-source-RssFeedScanner,
.wizard .add-link .popover-button-to .attivio-icon-source-RssFeedScanner,
.attivio-icon-source-RssFeedScanne-white { background-image: url('png/source-RssFeedScanne-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-RssFeedScanner { background-image: url('png/source-RssFeedScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-ServiceBasedWindowsAclFileScanner-white { background-image: url('png/source-ServiceBasedWindowsAclFileScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-ServiceBasedWindowsAclFileScanner { background-image: url('png/source-ServiceBasedWindowsAclFileScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-SiteHarvesterScanner-white { background-image: url('png/source-SiteHarvesterScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-SiteHarvesterScanner { background-image: url('png/source-SiteHarvesterScanner.png'); background-repeat: no-repeat; }

.attivio-icon-source-XmlScanner-white { background-image: url('png/source-XmlScanner-white.png'); background-repeat: no-repeat; }

.attivio-icon-source-XmlScanner { background-image: url('png/source-XmlScanner.png'); background-repeat: no-repeat; }

.attivio-icon-sources { background-image: url('png/sources.png'); background-repeat: no-repeat; }

.attivio-icon-star-empty { background-image: url('png/star-empty.png'); background-repeat: no-repeat; }

.attivio-icon-star-full { background-image: url('png/star-full.png'); background-repeat: no-repeat; }

.attivio-icon-star-half { background-image: url('png/star-half.png'); background-repeat: no-repeat; }

.attivio-icon-tools { background-image: url('png/tools.png'); background-repeat: no-repeat; }

.attivio-icon-trash-white { background-image: url('png/trash-white.png'); background-repeat: no-repeat; }

.attivio-icon-trash { background-image: url('png/trash.png'); background-repeat: no-repeat; }

.attivio-icon-trend-down { background-image: url('png/trend-down.png'); background-repeat: no-repeat; }

.attivio-icon-trend-up { background-image: url('png/trend-up.png'); background-repeat: no-repeat; }

.attivio-icon-unify-white { background-image: url('png/unify-white.png'); background-repeat: no-repeat; }

.attivio-icon-unify { background-image: url('png/unify.png'); background-repeat: no-repeat; }

.attivio-icon-upload-pc { background-image: url('png/upload-pc.png'); background-repeat: no-repeat; }

.attivio-icon-upload { background-image: url('png/upload.png'); background-repeat: no-repeat; }

.attivio-icon-user-white { background-image: url('png/user-white.png'); background-repeat: no-repeat; }

.attivio-icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

